.modal {

    .modal-dialog {

        .modal-content {

            .modal-header {
            	text-transform: uppercase;
                letter-spacing: 0;

            	.close {
                    letter-spacing: 0;

            		span {
            			font-weight: 300;
            		}
            	}
            }

            .modal-body {
                padding: 15px 30px;
            }
        }
    }
}